:root {
  --text-primary: #52575C;
  --border: rgb(204, 204, 204);
  --text-secondary: #25282B;
  --blue: rgba(51,116,171,1);
  --gradient: linear-gradient(90deg, #3374AB 0%, #5AB1F3 59.9%, #6BD8FE 100%);
}


*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body, input, button {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5AB1F3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #73c2ff;
}